forms-pìpedrive-wpp.json
{"createdAt":"2025-04-28T19:38:51.236Z","updatedAt":"2025-04-28T19:38:55.410Z","id":"n2n2ULFG0Y8GsWkc","name":"Forms-Pìpedrive-Wpp","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"2bc5e11e-bbc0-4756-8b7b-555296cbfe8c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1900,60],"id":"3cd870a2-de06-4488-87ba-b6255d777ac7","name":"Webhook Tally","webhookId":"2bc5e11e-bbc0-4756-8b7b-555296cbfe8c"},{"parameters":{"jsCode":"const newItems = [];\n\nfor (const item of items) {\n  // Ajuste o caminho conforme onde está o telefone em seu fluxo.\n  // Exemplo: se o telefone vem em item.json.phone:\n  const rawPhone = $input.first().json.body.Telefone || \"\";\n  \n  // 1) Remove o sufixo \"@s.whatsapp.net\" (se existir) e outros caracteres não numéricos\n  let digits = rawPhone\n    .replace('@s.whatsapp.net', '')\n    .replace(/\\D/g, '');\n  \n  // 2) Garante que o número comece com \"55\"\n  if (!digits.startsWith('55')) {\n    digits = '55' + digits;\n  }\n  \n  // 3) Separa DDI, DDD e o restante do número\n  const country = digits.slice(0, 2);   // \"55\"\n  const areaCode = digits.slice(2, 4);    // Ex: \"71\"\n  const phonePart = digits.slice(4);      // Ex: \"92641768\" ou \"997120006\", etc.\n  \n  // 4) Se a parte do número não iniciar com \"9\", insere um \"9\" logo após o DDD.\n  // Isso garante que números como \"557192641768\" se tornem \"+5571992641768\"\n  const finalPhone = phonePart.startsWith('9')\n    ? `+${country}${areaCode}${phonePart}`\n    : `+${country}${areaCode}9${phonePart}`;\n  \n  // 5) Retorna somente o número formatado\n  newItems.push({\n    json: {\n      phone: finalPhone\n    }\n  });\n}\n\nreturn newItems;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1660,60],"id":"25f3f8f0-cf07-4d8f-84da-dcac294aadf5","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cbac82b-9c62-4eb1-90ae-12a3e8bb0bff","leftValue":"={{ $json.message.content.tag }}","rightValue":"unmatch","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"081adcbb-5519-4dee-a70d-9a1d2d688174","leftValue":"={{ $('Webhook Tally').item.json.body.Location }}","rightValue":"Whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,-160],"id":"eec5f19e-f23d-4f38-918f-19c764f336d2","name":"Unmatch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ff4015a-f3c7-41f9-8515-2d090dbc72d1","leftValue":"={{ $json.message.content.tag }}","rightValue":"match","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"19a37889-5cc9-46c1-82f4-6d890cd7e54a","leftValue":"={{ $('Webhook Tally').item.json.body.Location }}","rightValue":"Whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,0],"id":"98252311-af88-46f3-b7da-97de73e510dd","name":"Match"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79e175e7-aced-475b-bc9a-00cf3f68713b","leftValue":"={{ $json.message.content.tag }}","rightValue":"falta-contexto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d74df683-47a7-4a98-89a8-c3ec8d8b8b9d","leftValue":"={{ $('Webhook Tally').item.json.body.Location }}","rightValue":"Whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,160],"id":"ee5343b6-b28b-4977-9410-f68b6986c085","name":"Falta-Contexto"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# CONTEXT:\nSomos uma Agência de Automações com IA e trabalhamos desenvolvendo IA's de atendimento/vendas e infraestrutura completa de vendas com CRM. \n\n# GOAL:\nVocê deve enviar uma curta mensagem de whatsapp para um lead que acabou de preencher nosso formulário de contato. Não use parágrafos na sua mensagem, seja direta, conversacional e descontraída porém profissional. Não use emojis.\n\nVocê deve seguir essas instruções passo a passo:\n1- Identifique a demanda do lead, e se ela se encaixa na nossa prateleira de produtos\n1.1 - Se o lead trouxer uma demanda no formulário que nós não cobrimos na prateleira, crie uma mensagem educada descartando o lead.\n1.2 - Se a demanda do lead ainda falta contexto para entender se encaixa na nossa prateleira, envie uma mensagem agradecendo por ele nos procurar e que irá fazer algumas perguntinhas rápidas antes de agendar uma call com um consultor especialista\n1.3 - Se a demanda do lead se encaixa perfeitamente na nossa prateleira de produtos, retorne uma mensagem positiva agradecendo por nos procurar e que irá fazer algumas perguntinhas rápidas antes de agendar uma call com um consultor especialista.\n2 - Todas as mensagens devem ser personalizadas, usando apenas o primeiro nome do Lead (somente a primeira letra maiúscula), a empresa do Lead, segmento da empresa e referenciando de maneira breve a demanda dele.\n3 - Na nossa prateleira de produtos hoje, só trabalhamos atualmente com automações AI de Atendimento, no whatsapp, ligação ou website.\n4 - Você deve retornar na sua resposta em um parametro \"tag\" do seu json, se esse lead é um (match/unmatch/falta-contexto)\n5- Você deve retornar a sua mensagem em um parametro \"message\" do seu json.\n\n\nExemplos:\n\n[MATCH NA PRATELEIRA DE PRODUTOS] - Olá, Victor! Marcela da Maven AI aqui :) Vi que você procurou por nossos serviços de I.A pra te ajudar a automatizar as vendas no WhatsApp do seu Ecommerce! Posso te fazer algumas perguntinhas rápidas sobre o projeto antes de agendarmos uma call com nossos especialistas? Prometo que vão ser rápidas!!\n\n[SEM MATCH NA PRATELEIRA DE PRODUTOS] - Olá, Victor! Marcela da Maven AI aqui :) Eu vi que você nos procurou para automatizar a máquina de lavar da sua casa. Eu ficaria animadíssima pra conversar contigo sobre esse projeto hahaha, mas infelizmente nós não cobrimos esse tipo de demanda hoje na nossa casa. Só vim aqui pra te deixar ligada que não conseguimos te ajudar com esse projeto atualmente, beleza?\n\n\n\n\nNome do Lead: {{ $('Webhook Tally').item.json.body.Nome }}\nEmpresa do Lead: {{ $('Webhook Tally').item.json.body.NomeEmpresa }}\nSegmento da Empresa do Lead: {{ $('Webhook Tally').item.json.body.Segmento }}\nDemanda do Lead: {{ $('Webhook Tally').item.json.body.Ajuda }}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,60],"id":"2eb247d5-58e1-477b-aab0-d74647d2b860","name":"Mensagem Personalizada","credentials":{"openAiApi":{"id":"Wx9DC2ilM8F6fLG7","name":"OpenAi API"}}},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1460,60],"id":"e77a21f9-cb03-475a-8fec-0235dbedbfe0","name":"Procurar Lead em Contatos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qyUo91dZa1ecreWb","name":"SupabaseCyga"}}},{"parameters":{"tableId":"contatos","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Webhook Tally').item.json.body.Nome }} {{ $('Webhook Tally').item.json.body.Sobrenome }}"},{"fieldId":"email","fieldValue":"={{ $('Webhook Tally').item.json.body.Email }}"},{"fieldId":"telefone","fieldValue":"={{ $('Code1').item.json.phone }}"},{"fieldId":"empresa","fieldValue":"={{ $('Webhook Tally').item.json.body.NomeEmpresa }}"},{"fieldId":"Segmento","fieldValue":"={{ $('Webhook Tally').item.json.body.Segmento }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-780,60],"id":"1524411a-c36f-4428-b2ee-f0573f247743","name":"Criar Lead em Contatos","credentials":{"supabaseApi":{"id":"qyUo91dZa1ecreWb","name":"SupabaseCyga"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2390ec11-a1e9-4132-b0b4-884f57f3db0f","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"cc84ab1b-b919-43fe-8a40-dbb7d88d095b","leftValue":"={{ $('Supabase').item.json['telefone'] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1020,60],"id":"74c9ceb2-c497-4062-98e6-b46dfc665c21","name":"Contatos Criados"},{"parameters":{"resource":"lead","operation":"getAll","filters":{}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1240,60],"id":"0a674f27-24c1-4ad0-8923-ba9593772a1b","name":"Pipedrive1"},{"parameters":{"resource":"lead","additionalFields":{"label_ids":[]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-540,60],"id":"3ba94fc8-e2ee-4aca-9f6c-dcbac3e84f7a","name":"Pipedrive2"},{"parameters":{"method":"POST","url":"=insira-url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-160],"id":"80563a1e-3390-4f91-a4bc-595b60890328","name":"Chatwoot"},{"parameters":{"method":"POST","url":"=insira-sua-url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,0],"id":"136e7944-10b4-45e8-b19f-6485f3221ccd","name":"Chatwoot1"},{"parameters":{"method":"POST","url":"=insira-sua-url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,160],"id":"5bbda2a7-9475-4b85-99e3-9e99637617c2","name":"Chatwoot2"}],"connections":{"Webhook Tally":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Procurar Lead em Contatos","type":"main","index":0}]]},"Unmatch":{"main":[[{"node":"Chatwoot","type":"main","index":0}]]},"Match":{"main":[[{"node":"Chatwoot1","type":"main","index":0}]]},"Falta-Contexto":{"main":[[{"node":"Chatwoot2","type":"main","index":0}]]},"Mensagem Personalizada":{"main":[[{"node":"Unmatch","type":"main","index":0},{"node":"Falta-Contexto","type":"main","index":0},{"node":"Match","type":"main","index":0}]]},"Procurar Lead em Contatos":{"main":[[{"node":"Pipedrive1","type":"main","index":0}]]},"Criar Lead em Contatos":{"main":[[{"node":"Pipedrive2","type":"main","index":0}]]},"Contatos Criados":{"main":[[{"node":"Criar Lead em Contatos","type":"main","index":0}]]},"Pipedrive1":{"main":[[{"node":"Contatos Criados","type":"main","index":0}]]},"Pipedrive2":{"main":[[{"node":"Mensagem Personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Tally":[{"json":{"headers":{"host":"https://agents.bermaxculture.com.br/","user-agent":"framer/webhooks","content-length":"199","accept-encoding":"gzip","content-type":"application/json","framer-webhook-submission-id":"273e1eee-e32d-4c84-bfd6-4e39604c2cc0","newrelic":"eyJ2IjpbMCwxXSwiZCI6eyJ0eSI6IkFwcCIsImFwIjoiMTA0NjIzNjYxNiIsImFjIjoiMTk1MjQ4NyIsInR4IjoiNGJhYzYxNmU5MzYyMDEzZCIsImlkIjoiMWNkNjI1YjFmZTE5YTFmYSIsInRyIjoiNGJhYzYxNmU5MzYyMDEzZDU2ZTViNWQ3MzNmZDQ3NGYiLCJwciI6MC4wMjk5MTE4MzEsInNhIjpmYWxzZSwidGkiOjE3NDQzNjA1OTU1MzR9fQ==","traceparent":"00-4bac616e9362013d56e5b5d733fd474f-1cd625b1fe19a1fa-00","tracestate":"1952487@nr=0-0-1952487-1046236616-1cd625b1fe19a1fa-4bac616e9362013d-0-0.029912-1744360595534","x-forwarded-for":"54.173.50.0","x-forwarded-host":"webhook.mavenlabs.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"01e31697c683","x-real-ip":"54.173.50.0"},"params":{},"query":{},"body":{"Ajuda":"aaaaaaaaaaa","Email":"diogo@bermaxculture.com.br","Location":"Telefone","Nome":"Diogo","NomeEmpresa":"Bermax","Segmento":"consultoria","Sobrenome":"Silva","Telefone":"(91) 9199-9999"},"webhookUrl":"https://agents.bermaxculture.com.br/webhook-test/2bc5e11e-bbc0-4756-8b7b-555296cbfe8c","executionMode":"production"}}]},"versionId":"f38b265d-aa23-4d15-a32c-f8d5b0002ee2","triggerCount":0,"shared":[{"createdAt":"2025-04-28T19:38:51.236Z","updatedAt":"2025-04-28T19:38:51.236Z","role":"workflow:owner","workflowId":"n2n2ULFG0Y8GsWkc","projectId":"fOnZOXT2pmTZRUit","project":{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-14T17:54:00.320Z","id":"fOnZOXT2pmTZRUit","name":"Diogo Henrique <work.diogoh@outlook.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-13T21:21:52.544Z","role":"project:personalOwner","userId":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","projectId":"fOnZOXT2pmTZRUit","user":{"createdAt":"2025-03-13T21:21:51.918Z","updatedAt":"2025-04-26T18:51:14.606Z","id":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","email":"work.diogoh@outlook.com","firstName":"Diogo","lastName":"Henrique","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-14T17:56:43.378Z","personalization_survey_n8n_version":"1.82.3","automationGoalDevops":["cloud-infrastructure-orchestration"],"companySize":"<20","companyType":"systems-integrator","role":"devops","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"6ZgkOC4dQAa6gxt7","userActivatedAt":1745693474588,"npsSurvey":{"responded":true,"lastShownAt":1745502495223}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}